:root {
  --bg-color: black;
  --text-color: white;
  --gold: rgba(212, 175, 55, 1);
  --yellow: rgba(249, 195, 46, 1);
}


@font-face {
  font-family: 'DefaultFont';
  src: url('/fonts/NotoSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DefaultFont';
  src: url('/fonts/NotoSerif-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/*
@media (prefers-color-scheme: dark) {
  :root {
    
  }
}
*/

/*
This is inside of body
*/
#__next { 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'DefaultFont';
  line-height: 1.75;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}


html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--bg-color);
}


img, video, iframe {
  max-width: 100%;
  height: auto;
}


h1 {
  color: var(--gold);
}


main {
  margin: 0 .5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  text-align: center;
  width: 100%;
  margin: 1rem 0;
  font-size: .75rem;
}

header {
  position: sticky;
  top: 0;
  padding: .5rem .5rem;
  border-bottom: 1px solid var(--gold);
  background-color: var(--bg-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  padding: 0;
}

nav li {
  list-style: none;
  margin: 0 1rem;
}

a {
  color: var(--text-color);
  transition: .2s ease-in-out;
}

a:hover {
  color: var(--gold);
}


nav ul, nav h1 {
  margin: 0;
}

nav h1 {
  transition: 0.2s ease-in-out;
}

nav h1:hover {
  color: var(--gold);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -3rem;
}

#top-left-text > * {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 1rem;
}




.transition {
  transition: .333s ease-in-out;
}

#homepage-pricing-button {
  font-family: 'DefaultFont';
  border-radius: 4rem;
  color: var(--bg-color);
  display: block;
  font-size: 2rem;
  font-weight: 700;
  margin: .5rem auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px var(--yellow);
}

.button-appearance {
  background: linear-gradient(to right,var(--gold),var(--yellow));
  border: 1px solid var(--gold);
  border-radius: 3rem;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
}

#homepage-pricing-button:hover {
  font-size: 2.45rem;
  border-radius: 4rem;
  box-shadow: 0px 0px 8px 0px var(--yellow);
}

.no-bullet-point {
  margin: 0 0;
  line-height: 1;
}

.no-bullet-point li {
  list-style: none;
  padding: 1rem 0;
}



.bullet-head {
  font-size: 1.5rem;
}

.white-text {
  color: white;
  text-decoration: none;
}

.gold-text {
  color: var(--gold);
}

.white-border-round {
  border: 1px solid white;
  border-radius: 25%;
}


#title-1 {
  margin-top: -4rem;
  text-align: center;
}


.social-media-container > * {
  margin: 0 .5rem;
}


.pricing-container > * {
  padding: .5rem 0;
}


.main-column {
  margin: 0 28rem;
}


.pricing-table {
  font-size: 1.25rem;
  margin: 0 auto;
  text-align: left;
}

.pricing-table td {
  padding: .75rem 0;
  font-weight: bold;
}

.pricing-table > caption {
  color: var(--yellow);
  font-size: 1.75rem;
  font-weight: bold;
}

.pricing-table > thead > tr > th {
  color: var(--gold);
  font-size: 1.5rem;
}

.pricing-table .second-col {
  text-align: center;
}



/* mobile */
@media only screen and (max-width: 1400px){
  .main-column {
    margin: 0 20rem;
  }
}

@media only screen and (max-width: 1300px){
  .main-column {
    margin: 0 16rem;
  }
}

@media only screen and (max-width: 1000px){
  .main-column {
    margin: 0 10rem;
  }
}

@media only screen and (max-width: 600px){
  .main-column {
    margin: 0 4rem;
  }
}

@media only screen and (max-width: 480px){
  .main-column {
    margin: 0 2rem;
  }
}